.search-input {
  position: relative !important;
  margin-top: 20px;
  min-height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  top: 0px;
  left: 0;
  background: #ffffff;
  border-radius: 24px;
  transition: all 0.3s ease-in;
}

.search-arrow-icon {
  /* position: absolute; */
  position: relative;
  left: 35px;
  width: 19px;
  height: 19px;
  top: 31px;
}

.search-result-item {
  padding: 7px 0px 7px 35px;
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.search-result-item:hover {
  background-color: rgba(250, 174, 23, 0.05);
}

.search-dropdown {
  width: 100%;
  position: absolute;
  top: 60px;
  z-index: 10;
  background: rgb(255, 255, 255);
  border-bottom-right-radius: 26px;
  border-bottom-left-radius: 26px;
}
