.title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}

.subtitle1 {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
}

.subtitle2 {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 0px;
}

.article-breadcumb {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.small {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 0px;
}

.default {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0px;
  text-decoration: none;
  color: #171717;
}
