.site-layout-content {
  /* min-height: 280px; */
  margin-top: 50px;
  /* background: rgb(243,246,248); */
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  /* identical to box height, or 120% */
  letter-spacing: -0.4px;

  /* Black/B100 */

  color: #171717;
}


.layout {
  background-color: #f3f6f8;
  height: 100vh;
}


.main-container {
  width: 80%;
}
.content {
  display: "flex";
  justify-content: "center";
  position: relative;
}
