.ant-tabs-ink-bar {
  border-bottom: 2px solid #008060;
}

.ant-tabs-tab.ant-tabs-tab .ant-tabs-tab-btn {
  color: #8f92a1;
}

.ant-tabs-tab.ant-tabs-tab .ant-tabs-tab-btn:hover {
  color: #8f92a1;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #171717;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn:hover {
  color: #171717;
}

.process-tab-container {
  display: flex;
  align-items: center;
}
