.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.4px;
  color: #171717;
  padding-top: 30px;
}

.breadcumb {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  letter-spacing: -0.4px;

  /* Black/B100 */

  color: #171717;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 4px 0px;
}

.short-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */

  letter-spacing: -0.4px;

  /* Gray/G100 */

  color: #8f92a1;
  padding-top: 24px;
  padding-bottom: 30px;
}

.long-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */

  letter-spacing: -0.4px;

  /* Black/B100 */

  color: #171717;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.button-group {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  padding-bottom: 20px;
}
.button {
  background: #ffffff;
  border: 1px solid #dfe3e8;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 3px 8px;
}
.button-clicked {
  background: rgba(250, 174, 23, 0.1);
  border: 1px solid #faae17;
  border-radius: 4px;
  padding: 3px 8px;
}

*:focus {
  outline: none !important;
}
