
* {
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background-color: #ddd;
    }
     
    &::-webkit-scrollbar-thumb {
        background-color: gray;
        outline: none;
    }
}



html {
    touch-action: pan-x pan-y;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    max-width: 1152px;
    min-width: 1152px;
    margin: 0 auto;
    padding-left: 28px;
    padding-right: 28px;
    // box-sizing: content-box;

    &.min-height {
        min-height: 650px;
    }
}

@import 'header';

@import 'mainPage';


