.category-card {
}

.category-card-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 137% */

  letter-spacing: -0.4px;

  /* Black/B100 */

  color: #171717;
}

.category-card-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  letter-spacing: -0.4px;

  /* Black/B100 */

  color: #171717;
}

.list-item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

.list-item-count {
  background-color: #ffffff;
  border-radius: 6px;
  padding: 3px 15px;
  text-align: center;
  color: #8f92a1;
  height: fit-content;
}
