.site-layout-content {
  margin-top: 50px;
}

.logo {
  float: left;
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.4px;
  color: #171717;
}

.layout {
  background-color: #f3f6f8;
  height: 100vh;
}


.main-container {
  width: 80%;
}
.content {
  display: "flex";
  justify-content: "center";
}
