#map > ymaps {
  border-radius: 5px;
  overflow: hidden;
}

.active-department {
  background: #ffffff;
  border-radius: 20px;
  padding: 15px;
}

.active-department-header {
  display: flex;
}

.active-department-header-right {
  height: 30px;
  margin-left: 15px;
}

.active-department-body {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

.schedule-item {
  width: 45px;
  height: 75px;
  border-radius: 12px;
  background-color: #f5f6fa;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.active-schedule-item {
  background-color: #faae17;
  color: #ffffff;
}

.week-day {
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
}

.work-times {
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
  font-weight: bold;
  line-height: 10px;
}
