.search-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.4px;
    color: #171717;
    padding-top: 60px;
    /* background-color: rgb(243,246,248); */
}


.search-input {
    /* position: absolute; */
    margin-top: 20px;
    /* width: 90%; */
    height: 80px;
    left: 165px;
    top: 180px;
    background: #FFFFFF;
    /* box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.04); */
    border-radius: 24px;
}

.search-icon {
    position: relative;
    margin-left:30px;
    size: 10;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.search-input-field {
    position: relative;
    margin-left:30px;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 245px;
    height: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #8F92A1;
    border: 0;
}
.search-button {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    float:right;
    background: #008060;
    border-radius: 16px;
    min-width: 80px;
    margin-right: 30px;
}

.search-button-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #FFFFFF;
}

