.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  letter-spacing: -0.4px;

  /* Gray/G100 */

  color: #8f92a1;
}

.ant-list-vertical .ant-list-item-meta-title {
  margin-bottom: 0px;
}

.ant-list-pagination {
  text-align: left;
}

.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-pagination-item {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #dfe3e8;
}

.ant-pagination-item-active {
  background: rgba(250, 174, 23, 0.1);
  border: 1px solid #faae17;
}

.ant-list-item:hover {
  box-shadow: 0 0 4px #eee;
}

.ant-pagination-item-active:focus a,
.ant-pagination-item-active:hover a {
  color: #171717;
}
